.block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 65px 0;

    &__container {
        width: 80%;
    }

    &__title {
        

        &__text {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            color: $dark1;

            &--left {
                text-align: left;
            }

            &--right {
                text-align: right;
            }
        }
    }
}